.custom-nav-link {
   color: #ffc107 !important;
}

.custom-nav-link:hover{
  color: white !important;
}
.custom-nav-link_bg{
  background-color: #ffc107  !important;
}

.navbar navbar-expand-lg{
  position: sticky;
}

.black{
  background-color: black;
}
.w-3{
  width: 3%;
  height: auto;
}


@keyframes fadeToBright {
  0% {
    opacity: 0;
    filter: brightness(0);
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    filter: brightness(1.5);
    transform: translateY(0);
  }
}

.fade-bright {
  animation: fadeToBright 3s ease-out forwards;
}

.slide-right-to-left {
  animation: slideFromRight 3s ease-out forwards;
}

@keyframes slideFromRight {
  0% {
    opacity: 0;
    transform: translateX(100px); /* Start from right */
    filter: brightness(0.5);
  }
  100% {
    opacity: 1;
    transform: translateX(0); /* End at original position */
    filter: brightness(1.5);
  }
}


.skill-bar {
  width: 0;
  opacity: 0;
  transition: width 2s ease-in-out, opacity 1s ease-in-out;
}

.skill-item {
  opacity: 0;
  transform: translateX(-40px);
  transition: all 1s ease-in-out;
}

.skill-item.visible {
  opacity: 1;
  transform: translateX(0);
}

.modal-backdrop{
  z-index: -1 !important;
}
.modal-content {
  background-color: black !important;
}